<% extend("master.ejs") %>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage specialists</h1>
    <a href="/supporter/manage/specialization/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus-circle fa-sm text-white-50"></i>Add new</a>
</div>

<!-- Content Row -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of specialists</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered display " id="listSpecializations" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% specializations.forEach(function(spe) { %>
                    <tr>
                        <td> <%= spe.id %></td>
                        <td><%= spe.name %></td>
                        <td class="">
                            <a class="info-specialization"  data-specialization-id="<%= spe.id %>" href="#" title="View info"><i class="fas fa-info-circle"></i></a>
                            <a class=""  data-specialization-id="<%= spe.id %>" href="#" title="Edit"><i class="fas fa-pen-square mx-3"></i></a>
                            <a class="delete-specialization" data-specialization-id="<%= spe.id %>" href="#" title="Delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Content Row -->
<script>
    $(document).ready(function() {
        $("div #collapseUtilities").addClass('show');
        $("div #collapseUtilities").find($("#aManageSpecialization")).addClass("active");
        $(".supporter-list-posts").removeClass("active");
    });
</script>
